<h1>All Tasks</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
  </tr>
  <% end %>
</table>