#home-title-jumbotron {
    background-image: asset-url('Home_Jumbotron.jpg');
    background-size: cover; /* Fit width */
    margin-bottom: 0px;
    height: 100vh;
    text-align: center; /* Applies to button too */
    position: relative;
  }
  
 .home-title-jumbotron button {
    margin: 5px;
 }

 .home-footer {
    color: whitesmoke;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
 }